/*******************************/
/********* General CSS *********/
/*******************************/
body {
  color: #777777;
  font-weight: 500;
  background: #ffffff;
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4c70;
}

a {
  color: #4a4c70;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #fdbe33;
  outline: none;
  text-decoration: none;
}

.btn.btn-custom {
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  border-radius: 0;
  border: 2px solid #fdbe33;
  box-shadow: inset 0 0 0 0 #fdbe33;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn.btn-custom:hover {
  color: #20212b;
  box-shadow: inset 0 0 0 30px #fdbe33;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

/**********************************/
/****** Loader & Back to Top ******/
/**********************************/
#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  -o-transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  z-index: 999;
}

#loader.show {
  -webkit-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  transition: opacity 0.6s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .loader {
  position: relative;
  width: 45px;
  height: 45px;
  border: 5px solid #dddddd;
  border-top: 5px solid #fdbe33;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  display: none;
  background: #fdbe33;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top i {
  color: #4a4c70;
  padding-top: 10px;
}

.back-to-top:hover {
  background: #4a4c70;
}

.back-to-top:hover i {
  color: #fdbe33;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  position: absolute;
  background: green;
  height: 45px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar .top-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar .top-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 45px;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar .text:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar .text i {
  font-size: 16px;
  color: #fdbe33;
  margin-right: 5px;
}

.top-bar .text p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.top-bar .social {
  display: flex;
  height: 45px;
  font-size: 0;
  justify-content: flex-end;
}

.top-bar .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 100%;
  font-size: 16px;
  color: #fdbe33;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar .social a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar .social a:hover {
  color: #ffffff;
  background: #fdbe33;
}

@media (min-width: 992px) {
  .top-bar {
    padding: 0 60px;
  }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.navbar .navbar-brand {
  margin: 0;
  color: black;
  font-size: 15px;
  line-height: 0px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 15px 8px 15px;
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fdbe33;
  transition: none;
}

.navbar-dark .navbar-brand:hover {
  color: grey;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    top: 45px;
    padding: 00px 00px;
    background: white !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: rgb(250, 250, 250) !important;
    border-bottom: none;
  }

  .page .navbar {
    background: #20212b !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: white !important;
  }
  .navbar-img {
    display: none;
  }
  .navbar .navbar-brand {
    font-size: 11px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.home-header {
  position: relative;
  margin-bottom: 45px;
  padding: 300px 0 390px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/COVER\ IMAGE\ 1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header h2 {
  position: relative;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.home-header p {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .home-header {
    padding: 170px 0;
  }

  .home-header h2 {
    font-size: 35px;
  }

  .home-header p {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .page-header {
    padding: 45px 0;
  }

  .page-header h2 {
    font-size: 30px;
  }

  .page-header a {
    font-size: 15px;
  }
}

/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 210px 0 90px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/COVER\ IMAGE\ 1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h2 {
  position: relative;
  color: #fdbe33;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #fdbe33;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #ffffff;
}

.page-header a:hover {
  color: #fdbe33;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #ffffff;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 991.98px) {
  .page-header {
    padding: 60px 0;
  }

  .page-header h2 {
    font-size: 45px;
  }

  .page-header a {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .page-header {
    padding: 45px 0;
  }

  .page-header h2 {
    font-size: 35px;
  }

  .page-header a {
    font-size: 18px;
  }
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  margin-top: 45px;
  padding-top: 90px;
  background: #20212b;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
  position: relative;
  margin-bottom: 45px;
  color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  color: #fdbe33;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  transition: 0.3s;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #fdbe33;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  width: 40px;
  height: 40px;
  padding: 6px 0;
}

.footer .footer-social a {
  margin-top: 5px;
}

.footer .footer-newsletter form {
  position: relative;
  width: 100%;
}

.footer .footer-newsletter input {
  margin-bottom: 15px;
  height: 60px;
  border: none;
  border-radius: 0;
}

.footer .footer-newsletter label {
  margin-top: 5px;
  color: #777777;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer .footer-newsletter .btn.btn-custom {
  width: 100%;
  padding: 15px 0;
}

.footer .copyright {
  padding: 0 30px;
}

.footer .copyright .row {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright p {
  margin: 0;
  color: #999999;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #ffffff;
}

.footer .copyright p a:hover {
  color: #fdbe33;
}

@media (max-width: 767.98px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}

/*******************************/
/********* Partner CSS **********/
/*******************************/
.row-partner {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 767.98px) {
  .row-partner {
    padding-left: 0%;
    padding-right: 0%;
  }
}
/* Create two equal columns that sits next to each other */
.column-partner {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column-partner .column-partner-img img {
  margin-top: 8px;
  vertical-align: middle;
  transition: 0.3s;
}

.column-partner .column-partner-img:hover img {
  transform: scale(1.1);
}
